
<div class="myDiv" id="lateral" id="cabecera"  style="text-align:center ">
  <div style="float:left; border-style:none; border-width:0; background-color:rgb(14, 6, 247);">
    
  <h1 class="texto-principla">welcom to sebas class</h1>
  <h1> Hola estoy programando en angular </h1>
  <img width="100gg" alt="Angular Logo" src="https://material.angular.io/assets/img/examples/shiba1.jpg" >
</div>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>

    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes </a></h2>

  </li>

  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular-cli/wiki">CLI Documentation </a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog </a></h2>
  </li>
</ul>  

<router-outlet></router-outlet>