.myDiv {

    border-image: auto;

    box-align:center;

    border-radius: 10px;
    
    height:300px;

    width:400px;

    font-family: 'Avenir Next LT Pro';
    
    
    font-weight: bold;
    
    
      border: 5px outset #050505;   
    
    
      color: #0d0d0d;
    
    
    background-color: #f7f7f9;
    
    
      text-align: center;
    
    
    }
